.productListPage {
  display: flex;
  justify-content: center;
}
.smallWrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.filters {
  width: 30%;
}
.productsSection {
  width: 65%;
}