@import "../../common/styles.module.scss";

.productListPage {
  display: flex;
  justify-content: center;
  background-color: $colorBg;
}
.smallWrapper {
  display: flex;
  justify-content: space-between;
  width: 95%;
  background-color: $colorFont;
  color: $colorBg;
}
.filters {
  width: 30%;
}
.productsSection {
  width: 65%;
}