$primaryText: #222;
$secondText: #a0a0a0;
$thirdText: #222;
$disabledTextPrimary: #8a8a8a;;
$successText: #0eb41c;

$colorBlue:  #082032;
$colorOrange:  #FF4C29;

// #082032
// #2C394B
// #334756
// #FF4C29
//https://colorhunt.co/palette/0820322c394b334756ff4c29
// https://colorhunt.co/palettes/popular


.heading1 {
  color: $primaryText;
  font-size: 18px;
  font-weight: 600;
}
.heading2 {
  color: $primaryText;
  font-size: 16px;
  font-weight: 600;
}
.heading3 {
  color: $primaryText;
}

.normalText {
  color: $primaryText;
  font-size: 14px;
}
.disabledText1 {
  color: $disabledTextPrimary;
}

.subText1 {
  color: $secondText;
  font-size: 12px;
}
.subText2 {
  color: $secondText;
  font-size: 12px;
}
.subText3 {
  color: $secondText;
  font-size: 12px;
}
