.fakePrice {
  text-decoration: line-through;
}
.productcard {
  height: 100%;
}
.productcardBody {
  background-color: #fff;
  padding: 15px;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.productImagePart {
  min-height: 125px;
  min-width: 125px;
  img {
    height: 125px;
    width: 125px;
  }
}

@import "../../common/styles.module.scss";

.productDetailsPart {
  width: 65%;
}
.name {
  @extend .heading2;
  color: $colorBg;
  margin-bottom: 5px;
  cursor: pointer;
}
.category {
  @extend .subText1;
  margin-bottom: 5px;
}
.ratings {
  margin-bottom: 5px;
}
.priceSection {
  display: flex;
  margin-bottom: 5px;
  .price {
    font-size: 22px;
    display: flex;
    align-items: flex-end;
    margin-right: 5px;
    font-weight: 600;
  }
  .fakePrice {
    @extend .disabledText1;
    font-size: 18px;
    display: flex;
    align-items: flex-end;
    margin-right: 5px;
  }
  .discount {
    font-size: 18px;
    color: $successText;
    display: flex;
    align-items: flex-end;
  }
}
.details {
  margin-bottom: 5px;
  ul {
    padding: 0;
    margin: 0;
    padding-left: 15px;
  }
}
.actions {
 display: flex;
}
.actionCta {
  cursor: pointer;
}
.actionCta:not(:first-child) {
  margin-left: 10px;
}
.outOfStock {
  @extend .disabledText1; 
}
