@import "../../common/styles.module.scss";

.nav {
  background-color: $colorBg;
  padding: 15px 0;
}
.navBar {
  display: flex;
  padding: 0 15px;
}
.navLink {
  display: flex;
  margin-right: 30px;
  color: $colorFont;
  cursor: pointer;
  align-items: center;
  text-decoration: none;
  @extend .heading3;
}
.carouselImg {
  height: 450px;
}
.carousel1 {
  height: 100%;
  width: 100%;
  background-image: url("/temp3.webp");
  background-size: 100% 100%;
}
.carouselContent {
  position: absolute;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carouselContentText {
  display: flex;
  flex-direction: column;

  span {
    color: $colorBg;
  }
  button {
    padding: 10px;
    margin-top: 10px;
  }
}

.webSection {
  margin-top: 50px;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  .sectionHeader {
    display: flex;
    color: $colorBg;
    justify-content: center;
    margin-bottom: 30px;
  }
  .sectionContent {
    display: flex;
    justify-content: space-between;
    img {
      width: 100%;
    }
    .catname {
      color: $colorBgOrange;
      margin-top: 20px;
      text-align: center;
      @extend .heading2;
    }
  }
}
.newArrImg {
  height: 100%;
  &>img {height: 100%;}
}
.productPaper {
  padding: 15px;

  .paperBody {
    padding: 10px;
  }
  .paperBodyBtn {
    margin-top: 20px;
    color: $colorFont;
    background-color: $colorBgOrange; 
  }
  .paperBodyPrice {
    padding: 15px 0;
    color: $colorBgOrange;
  }
  .paperBodyDesc {
    color: $colorBg;
    @extend .heading1;
    &:hover {
      color: $colorBgOrange;
    }
  }
}

.footerSection {
  background-color: $colorBg;
  padding: 50px 15px;

  .footerHeader {
    margin-bottom: 15px;
  }

  .footerCategory {
    margin-bottom: 5px;
  }
}
