@import "../../common/styles.module.scss";

.catname {
  color: $colorBgOrange;
  margin-top: 20px;
  text-align: center;
  @extend .heading2;
}

.newArrImg {
  height: 100%;
  &>img {height: 100%;}
}
.productPaper {
  padding: 15px;

  .paperBody {
    padding: 10px;
    position: relative;
  }
  .paperBodyBtn {
    box-shadow: 0px 0px 30px 10px $colorFont;
    bottom: 0px;
    color: $colorFont;
    position: absolute;
    background-color: $colorBgOrange; 
  }
  .paperBodyPrice {
    padding: 15px 0;
    color: $colorBgOrange;
  }
  .paperBodyDesc {
    color: $colorBg;
    @extend .heading1;
    &:hover {
      color: $colorBgOrange;
    }
  }
}
